{% extends 'base.html.twig' %}

{% block title %}MyShop{% endblock %}

{% block body %}

<h1 class="m-4">Bienvenue !</h1>
<h2>Dans ce site vous pourrez:</h2>
<ul>
    <li>Vous inscrire ou vous (dé)connecter</li>
    <li>Ajouter au panier des produits</li>
    <li>Accéder à l'administration si vous y êtes habilité</li>
    <li>Consulter votre page de profil</li>
    <li>Commander <strike>plusieurs produits (différents) en même temps</strike></li>
</ul>

<h2>Et ne pourrez pas:</h2>
<ul>
    <li>Fouiner dans le backoffice</li>
    <li>Modifier vos informations personnels</li>
</ul>

<small class="muted text-warning">Juste histoire de combler cette page</small>

{% endblock %}
